@use '../abstracts' as a;

.header {
    padding-block: a.rem(24);

    &__logo {
        @include a.flexbox($align: center, $justify: center);

        svg {
            width: a.rem(40);
            height: a.rem(40);
        }
    }
}