@use '../abstracts' as a;

.hero {
    @include a.flexbox($direction: column, $gap: a.rem(48));

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: a.rem(650);
        background: linear-gradient(290deg, var(--color-hero-bg) 0%, rgba(214, 252, 254, 0) 100%);
        border-bottom-right-radius: a.rem(32);
        z-index: -1;

        @include a.bp($from: "desktop") {
            width: 70%;
            height: a.rem(750);
        }
    }

    &__text {
        text-align: center;
        @include a.flexbox($direction: column, $align: center, $gap: a.rem(24));

        @include a.bp($from: "desktop") {
            text-align: left;
            @include a.flexbox($direction: column, $align: flex-start, $gap: a.rem(24));
            width: 40%;
        }
    }

    &__title {
        color: var(--color-hero-title-text);
        font-size: var(--fs-xxl);

        @include a.bp($from: "tablet") {
            width: 15ch;
        }

        @include a.bp($from: "desktop") {
            font-size: var(--fs-xxxl);
        }
    }

    &__description {
        color: var(--color-hero-description-text);

        @include a.bp($from: "tablet") {
            width: 70ch;
        }

        @include a.bp($from: "desktop") {
            width: 50ch;
        }
    }

    @include a.bp($from: "desktop") {
        @include a.flexbox($direction: row, $align: center, $justify: space-between, $gap: a.rem(0));
    }
}