@use '../abstracts' as a;

.limitations {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "text"
        "gender"
        "age"
        "muscle"
        "pregnancy"
        "race";
    row-gap: a.rem(16);

    &::before {
        display: none;

        @include a.bp($from: desktop) {
            display: block;
            content: url("/assets/images/pattern-curved-line-right.svg");
            position: absolute;
            top: 280px;
            left: 160px;
        }
    }

    &__text {
        @include a.flexbox($direction: column, $gap: a.rem(32));
        grid-area: text;
        text-align: center;
        margin-block-end: a.rem(64);

        @include a.bp($from: "desktop") {
            text-align: left;
        }
    }

    &__title {
        color: var(--color-limitations-title-text);
        font-size: var(--fs-xl);

        @include a.bp($from: "desktop") {
            font-size: var(--fs-xxl);
        }
    }

    &__description {
        color: var(--color-limitations-description-text);

        @include a.bp($from: "desktop") {
            width: 55ch;
        }
    }

    &__card {
        box-shadow: 16px 5px 56px rgba(143, 174, 207, 0.35);
        border-radius: a.rem(12);
        padding: a.rem(24);

        @include a.flexbox($direction: column, $gap: a.rem(16));

        &-header {
            @include a.flexbox($align: center, $gap: a.rem(16));
        }

        &-title {
            color: var(--color-limitations-card-title-text);
            font-size: var(--fs-m);
        }

        &--gender {
            grid-area: gender;
        }

        &--age {
            grid-area: age;
        }

        &--muscle {
            grid-area: muscle;
        }

        &--pregnancy {
            grid-area: pregnancy;
        }

        &--race {
            grid-area: race;
        }

        @include a.bp($from: "tablet") {
            padding: a.rem(32);
        }
    }

    @include a.bp($from: "tablet") {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "text text text text"
            "gender gender age age"
            "muscle muscle pregnancy pregnancy"
            ". race race .";
        row-gap: a.rem(24);
        column-gap: a.rem(24);
    }

    @include a.bp($from: "desktop") {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "text text text text text text . gender gender gender gender ."
            ". . . . age age age age muscle muscle muscle muscle"
            ". . pregnancy pregnancy pregnancy pregnancy race race race race . .";
        // row-gap: a.rem(24);
        // column-gap: a.rem(24);
        position: relative;
    }
}