@use '../abstracts' as a;

html,
body {
    height: 100%;
}

body {
    position: relative;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--color-white);
    height: auto;
    min-block-size: 100vh;
    line-height: 1.7;
}