@use '../abstracts' as a;

html,
body {
    height: 100%;
}

body {
    position: relative;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--color-white);
    height: auto;
    min-block-size: 100vh;
    line-height: 1.7;
    overflow-x: hidden;
    padding-block-end: a.rem(100);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1.2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    display: grid;
    place-content: center;
}

// input[type="radio"]:focus {
//     outline: max(2px, 0.15em) solid currentColor;
//     outline-offset: max(2px, 0.15em);
// }