@use './functions' as *;

:root {
    /* colors */

    // primary
    --color-blue-400: hsl(227, 92%, 58%);
    --color-blue-700: hsl(215, 17%, 45%);
    --color-blue-800: hsl(215, 31%, 21%);
    --color-white: hsl(0, 0%, 100%);

    /* font */

    // font-family
    --ff-primary: "Inter", sans-serif;

    // font-size
    --fs-s: #{rem(14)};
    --fs-body: #{rem(16)};
    --fs-m: #{rem(20)};
    --fs-l: #{rem(24)};
    --fs-xl: #{rem(32)};
    --fs-xxl: #{rem(48)};
    --fs-xxxl: #{rem(64)};

    // font-weight
    --fw-regular: 400;
    --fw-bold: 700;
}